
.topdiv{
    height:calc(100vh - 81px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentdiv{
    text-align: center;
    margin: 20px;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
}

.image{
    height: 40vh;
    width: 50vw;
    /* background-color: rgb(221, 219, 219); */
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.para{
    margin: 0;
}


b{
    font-weight: 500;
}