
.topdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 81px);
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 20px;
}

.projectlist{
    display: flex;
    flex-direction: column;

}

.acontainer{
    text-decoration: none;
    color: black;
    padding: 10px;
}


.projectlist_item{
    margin: 0 30px 30px 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
}

.projectlist_item:hover {
    transform: scale(1.1);
}

.projectlink{
    text-decoration: none;
    color: black;
}